@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    color: #131313;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}



/* header */
.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list {
    display: flex;
    padding-left: 0;
    margin: 0;
}

.menu__item+.menu__item {
    padding-left: 10px;
}

.menu__link:hover {
    color: #fff;
    background-color: #131313;
}

.menu__link {
    text-transform: uppercase;
    padding: 44px 20px;
    transition: all .3s;
}



/* bike */
.bike {
    padding: 100px 0 120px;
}

.bike__inner {
    display: flex;
    justify-content: space-between;
}

.bike__column-slider {
    flex-basis: 630px;
    margin-left: 30px;
    min-width: 630px;
}

.bike__title {
    margin: 60px 0 5px;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
}

.bike__subtitle {
    margin: 0 0 60px;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #6F6F6F;
}

.bike__text {
    max-width: 420px;
}

.bike__text+.bike__text {
    margin: 20px 0 10px;
}

.bike__link {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1.1em;
    background-color: #131313;
    color: #FFFFFF;
    padding: 28px 81px;
    display: inline-block;
    margin-top: 95px;
}

.bike__link:hover {
    background-color: #FF4040;
    transition: all .3s;
}

.bike-slider .slick-dots {
    right: 0;
    top: 50px;
}

.slick-dots {
    position: absolute;
}

.slick-dots li+li {
    padding-top: 10px;
}

.slick-dots button {
    font-size: 0;
    padding: 0;
    border: none;
    background-color: #131313;
    width: 3px;
    height: 25px;
    border-radius: 7px;
    cursor: pointer;
    transition: all .3s;
}

.slick-dots button:hover,
.slick-active button {
    background-color: #ff4040;
}

.bike__list {
    margin-top: 25px;
    display: flex;
    justify-content: space-around;

}

.bike__slider__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 58px;
    min-width: 160px;
    text-align: center;
}

.bike__list-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin: auto 0;
}

.bike__list-num {
    text-transform: uppercase;
    font-weight: 700;
}

/* feachures */
.feachures__inner {
    display: flex;
    padding-top: 30px;
}

.feachures__image {
    margin-right: 60px;
    flex-basis: 570px;
    object-fit: cover;
}

.item__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    margin: 0 0 10px;
}

.item__text {
    max-width: 450px;
}

.feachures__item {
    flex-basis: 490px;
}

.feachures__item+.feachures__item {
    padding-top: 50px;
}



/* info */
.info {
    margin: 95px 0 150px;
    padding-top: 65px;
}

.info__inner {
    display: flex;
    align-items: center;
}

.info__img {
    align-self: center;
}

.info__items {
    flex-basis: 570px;
    margin-right: 60px;
}

.info__list+.info__list {
    padding-top: 30px;
}

.info__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    margin: 0 0 40px;
}

.info__list {
    padding: 0;
    margin: 0;
}

.list__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    background-color: #131313;
    color: #FFFFFF;
    padding: 2px 0 3px;
    margin-bottom: 13px;

}

.list__text {
    display: flex;

}

.list__text+.list__text {
    margin-top: 5px;
}

.text__name {
    flex-basis: 285px;
    padding-right: 25px;
}

.text__descr {
    flex-basis: 285px;
}


/* slider */
.slider__items .slick-dots {
    top: 0;
    left: 0;
}

.slider__item {
    padding-left: 50px;
}

.slider__items .slick-dots {
    margin: 0;
    padding: 0;
}


/* price */
.price {
    margin: 50px 0 100px;
}

.form {
    max-width: 420px;
}

.form__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    margin: 0 0 40px;
}

.form__text {
    max-width: 300px;
    margin-bottom: 30px;
}


.form__input-name::placeholder,
.form__input-tel::placeholder,
.form__radio-text {
    color: #6F6F6F;
    opacity: 0.5;
}

.form__radio-text {
    margin-bottom: 10px;
}

.form__label+.form__label {
    margin-left: 23px;
}

.form__input-name,
.form__input-tel {
    width: 100%;
    border: none;
    border-bottom: 1px solid #131313;
    padding: 0;
    padding-bottom: 10px;
    margin-bottom: 20px;
    outline: none;
}

.form__label-box {
    display: flex;
}

.form__radio-style {
    width: 80px;
    height: 12px;
    background-color: #6F6F6F;
    border-radius: 30px;
    border: 1px solid #131313;

}

.radio-style-grey {
    background-color: #FFFFFF;
}

.form__input-radio {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.radio-style-red {
    background-color: #FF4040;
}

.form__bike {
    display: none;
}

.form__label {
    margin-bottom: 50px;
}

.price__inner {
    position: relative;
}

.form-btn {
    text-transform: uppercase;
    font-size: 20px;
    border: none;
    line-height: 24px;
    letter-spacing: 1.1em;
    width: 420px;
    padding: 28px 81px;
    color: #fff;
    background-color: #131313;
}

.form-btn:hover {
    background-color: #FF4040;
    transition: all .3s;
}

.form__input-radio:checked+.form__bike {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}

.form__bike-price {
    font-size: 32px;
    line-height: 39px;
    width: 220px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    border: 1px solid #FF4040;
    border-radius: 50%;
    transform: translateX(-50%);
}

.form__bike-price::after {
    border: 1px solid #FF4040;
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 220px;
    height: 100px;
    top: 12px;
    left: 0;

}


/* footer */
.footer {
    background-color: #131313;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 15px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.footer__link {
    text-transform: lowercase;
    text-decoration: underline;
}

.footer__social-icon+.footer__social-icon {
    margin-left: 28px;
}

.footer__contacts-list {
    padding: 0;
}

.contact-link {
    display: flex;
    align-items: center;
}

.contact-link+.contact-link {
    margin-top: 10px;
}

.contact-img {
    margin-right: 15px;
}



/* media*/


@media(max-width: 1250px) {
    .bike {
        padding: 0px 0 20px;
    }

    .bike__inner {
        flex-wrap: wrap;
        justify-content: center;
    }

    .bike__column {
        text-align: center;
    }

    .bike__text {
        max-width: 100%;
    }

    .bike__link {
        margin-top: 30px;
    }

    .feachures__image {
        display: none;
    }

    .featurer__item {
        flex-basis: 80%;
    }

    .item__title {
        text-align: center;
    }

    .item__text {
        max-width: 80%;
        margin: 0 auto;
    }

    .info {
        margin: 0;
        margin-bottom: 50px;
    }

    .info__title {
        text-align: center;
        margin: 0;
    }

    .info__inner {
        flex-wrap: wrap-reverse;
        width: 100%;
        justify-content: center;
    }

    .info__items {
        margin: 0;
        flex-basis: 800px;
    }

    .text__name {
        flex-basis: 400px;
    }

    .text__descr {
        flex-basis: 400px;
    }

    .slider__items {
        text-align: center;
    }

    .slider__img {
        object-fit: cover;
        height: 500px;
    }

    .slider__item {
        padding-left: 25px;
    }
}

@media(max-width: 1100px) {
    .form__bike-img {
        width: 450px;
    }

    .form-btn {
        line-height: 20px;
        letter-spacing: 0.9em;
        width: 350px;
        padding: 20px 45px;
    }
}

@media(max-width: 900px) {
    .slider__img {
        height: 400px;
    }

    .slider__item {
        padding-left: 10px;
    }

    .form__title {
        margin: 10px 0;
    }

    .price {
        margin: 25px 0 50px;
    }

    .form__label-box {
        margin-top: 350px;
    }

    .form__input-radio:checked+.form__bike {
        top: 250px;
        left: 12px;
    }

    .form__bike-price {
        left: 200px;
        transform: translateX(100%);
    }
}

@media(max-width: 750px) {
    .bike__title {
        margin: 30px 0 5px;
        font-size: 44px;
        line-height: 47px;
    }

    .bike__subtitle {
        margin: 0 0 20px;
        font-size: 20px;
        line-height: 23px;
        color: #6F6F6F;
    }

    .bike__link {
        margin-top: 5px;
    }

    .bike__column-slider {
        margin-left: 0;
    }

    .bike__list {
        margin-top: 0;
        flex-wrap: wrap;
    }

    .bike__slider__item {
        width: 50%;
    }

    .bike__column-slider {
        min-width: 100%;
    }

    .info__img {
        height: 370px;
    }

    .slider__img {
        height: 300px;
    }

    .form__bike-img {
        width: 350px;
        top: 120px;
    }

    .form__input-radio:checked+.form__bike {
        top: 250px;
        left: 12px;
    }

    .form__bike-price {
        left: 70px;
        top: -15px;
        transform: translateX(100%);
    }
}

@media(max-width: 650px) {
    .header__inner {
        display: block;
        text-align: center;
    }

    .menu__list {
        justify-content: space-around;
        padding: 50px 0 0;
    }

    .bike__list {
        padding: 0;
    }

    .bike__link {
        letter-spacing: 0.9em;
        padding: 20px 40px;
    }

    .menu__link {
        padding: 15px 20px;
    }

    .menu__item+.menu__item {
        padding-left: 0;
    }

    .feachures__inner {
        padding: 0;
    }

    .bike {
        padding: 0;
    }

    .feachures__item+.feachures__item {
        padding-top: 20px;
    }

    .info__title {
        margin: 0;
    }

    .info__img {
        height: 280px;
    }

    .slider__img {
        height: 270px;
    }

    .form__bike-price {
        font-size: 16px;
        line-height: 20px;
        width: 110px;
        height: 50px;
        transform: translateX(200%);
    }

    .form__bike-price::after {
        width: 110px;
        height: 50px;
        top: 6px;
    }
}

@media(max-width: 550px) {
    .slider__img {
        height: 210px;
    }

    .form__bike-img {
        width: 300px;
        top: 120px;
    }

    .form__label-box {
        margin-bottom: 0;
    }

    .form__label {
        margin-bottom: 5px;
    }

    .form__radio-style {
        transform: translateY(-700%);

    }

    .form-btn {
        transform: translateY(-100%);

    }
    .form__bike-price{
        transform: translateX(30%);
    }
    .form__bike-img{
        transform: translateY(15%);
    }
    .footer__inner{
        flex-direction: column;
        height: max-content;
    }
    .footer__link{
        margin: 20px 0;
    }
}
@media(max-width: 415px) {
    .header__inner {
        display: block;
        text-align: center;
    }

    .menu__list {
        justify-content: space-between;
        padding: 15px 0 15px;
    }

    .bike__title {
        font-size: 24px;
        line-height: 27px;
    }

    .bike__subtitle {
        font-size: 15px;
        line-height: 17px;
    }

    .bike__link {
        letter-spacing: 0.6em;
        padding: 10px 20px;
    }

    .bike__text+.bike__text {
        margin: 5px 0;
    }

    .bike__title {
        margin: 0;
    }

    .menu__link {
        padding: 3px 5px;
    }

    .menu__item+.menu__item {
        padding-left: 0;
    }

    .menu__link {
        font-size: 12px;
    }

    body {
        font-size: 12px;
        line-height: 100%;
    }

    .item__title {
        font-size: 14px;
        line-height: 15px;
        margin: 0 0 3px;
    }

    .info__img {
        display: none;
    }

    .info__inner {
        margin: 0;
        width: 100%;
    }

    .info__title {
        margin-bottom: 10px;
    }

    .slider__img {
        height: 150px;
    }
    .form__bike-img{
        transform: translateY(5%);
    }
    .form__bike-price{
        transform: translateY(-55%);
    }
    .form-btn{
        line-height: 10px;
        letter-spacing: 0.7em;
        width: 280px;
        padding: 20px 25px;
        font-size: 18px;
    }
    .form__bike-img{
       width: 260px;
    }
}